<!DOCTYPE html>
<html>
<head>
  <title>Weather Detector</title>
 
  <link rel="stylesheet" type="text/css" href="styles.css">
</head>

<body>
  <h1>Here's a joke for you fella !</h1>
  <div class="card">
    <p>
      <%= joke %>
    </p>
  </div>
  <p class="user">
    <%= user %>
  </p>
</body>

</html>